* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

body {
    background-color: rgb(236, 225, 208)
}


/*---Head---*/

.img {
    border: 0;
    margin-left: 300px;
    margin-top: 50px;
    filter: brightness(55%);
}



.banner {
    text-align: center;
    border: 0;
    margin-top: 50px;
    color: rgb(255, 255, 255);
}

h3 {
    font-weight: 400;
    font-size: 32px;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

/*section 2*/

.section-2 {
    font-weight: 700;
    font-size: 70px;
    border: 0;
    margin-top: 55px;
    text-align: center;
    color: red;
}

.para {
    text-align: center;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.para-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.newyear {
    border: 0;
    margin-left: 600px;
    width: 802.9px;
    height: 500px;
}

/*main section*/

.invite {
    font-size: 15px;
    font-weight: 50;
    border: 0;
    margin-top: 250px;
    color: whitesmoke;
}

.invite-info {
    margin-bottom: 550px;
    margin-left: -25%;

}

.btn{ 
    background-color:rgba(255, 255, 255, 0) ;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    border: 0;
    margin-left: 1350px;
    position: absolute;
    bottom: -120%;
    transform: translate(-50%, -50%);
}

.btn:hover{
    background-color: rgba(169, 169, 169, 0.274);
}

.background-invite {
    border: 0;
    margin-top: 120px;
    margin-left: 300px;
    filter: brightness(55%);
    position: relative;
}